@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #f6fafa;

  color: #0b1528;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.a-j-header.is-open .a-j-header-background {
  left: 0;
}
.a-j-header-button-wrapper {
  margin-left: auto;
}
.a-j-header-icon {
  display: none;
}

.a-j-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.a-j-navigation-list.is-open {
  right: 0;
}
.a-j-header-icon-menu {
  display: block;
}

.a-j-header-icon-button.is-open .a-j-header-icon-menu {
  display: none;
}

.a-j-header-icon-button.is-open .a-j-header-icon-close {
  display: block;
}

.a-j-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 80px;
  background: #ffffff33;
  box-shadow: 0px 1px 2px 0px #023e8a1a;

  backdrop-filter: blur(12px);
}

.a-j-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: #ffffff33;
  box-shadow: 0px 1px 2px 0px #023e8a1a;

  backdrop-filter: blur(12px);
}
.a-j-header.is-open .a-j-header-background {
  left: 0;
}
.a-j-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.a-j-header-icon-menu {
  display: block;
}

.a-j-header-icon-button.is-open .a-j-header-icon-menu {
  display: none;
}

.a-j-header-icon-button.is-open .a-j-header-icon-close {
  display: block;
}

.a-j-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 20px 16px;
  position: relative;
}

.a-j-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 812px;
  transition: 0.3s;
  z-index: 999;
  padding: 32px;

  gap: 32px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Mobile\ -\ menu.png");
}

.a-j-navigation-list.is-open {
  right: 0;
}

.a-j-navigation-link {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #f6fafa;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
}

.a-j-navigation-link:hover,
.a-j-navigatioт-link:focus {
  color: #e76f51;
}

.a-j-header.is-open {
  background-color: transparent;
}

.a-j-navigation-img {
  display: none;
}

@media screen and (min-width: 1204px) {
  .a-j-navigation-img {
    display: block;
    margin-right: 645px;
  }
  .a-j-policy-terms-header-icon-menu {
    display: none;
  }
  .a-j-header-button-wrapper {
    display: none;
  }
  .a-j-header {
    width: 100%;
    height: 80px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .a-j-header-icon-button {
    display: none;
  }
  .a-j-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    padding: 0 0px;
    margin: auto;
  }

  .a-j-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 32px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .a-j-navigation-link {
    font-family: Inter;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    color: #0b1528;
  }

  .a-j-navigation-link:hover,
  .a-j-navigation-link:focus {
  }

  .a-j-navigation-item-desk {
    display: none;
  }
}

.a-j-home {
  width: 375px;
  height: 998px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Hero\ Block.png");
  margin: auto;
}
.a-j-home-container {
  width: 375px;
  padding: 230px 0 0;
  margin: auto;
}

.a-j-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: start;
  background: #ffffff33;
  padding-top: 32px;
  padding-right: 16px;
  padding-bottom: 32px;
  padding-left: 16px;

  border-radius: 24px;
}
.a-j-home-title-img {
  font-family: Geist Mono;
  font-weight: 700;
  font-style: Bold;
  font-size: 12px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #e76f51;
  border: 1px solid #e76f51;
  width: fit-content;
  padding-top: 6px;
  padding-right: 12px;
  padding-bottom: 6px;
  padding-left: 12px;
  border-width: 1px;
  border-radius: 100px;
}
.a-j-home-title {
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 48px;
  leading-trim: NONE;
  line-height: 58px;
  letter-spacing: 0%;
  color: #f6fafa;
  padding: 12px 0;
}

.a-j-home-text {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
  color: #e8fefe;
  padding-bottom: 32px;
}
.a-j-home-link {
  transition: all 0.3s ease-in-out;
  width: 343px;
}

.a-j-home-link:hover {
  transform: scale(1.03);
}
.a-j-home-list {
  padding-top: 32px;
  font-family: Geist Mono;
  font-weight: 700;
  font-style: Bold;
  font-size: 12px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #006068;
}
@media screen and (min-width: 1204px) {
  .a-j-home {
    width: auto;
    height: 805px;
    background-image: url("/img/Hero\ Block\ \(1\).png");
  }
  .a-j-home-container {
    width: 1440px;
    padding: 186px 656px 0px 80px;
  }

  .a-j-home-container-top {
    width: 704px;

    border-radius: 24px;
    padding: 32px;
  }

  .a-j-home-title {
    font-family: Plus Jakarta Sans;
    font-weight: 700;
    font-style: Bold;
    font-size: 64px;
    leading-trim: NONE;
    line-height: 72px;
    letter-spacing: 0%;

    padding: 24px 0;
  }

  .a-j-home-text {
  }
  .a-j-home-link {
    transition: all 0.3s ease-in-out;
    width: 288px;
    content: url("/img/Button\ \(1\).png");
  }

  .a-j-home-link:hover {
    transform: scale(1.03);
  }
  .a-j-home-list {
    padding-top: 32px;
    font-family: Geist Mono;
    font-weight: 700;
    font-style: Bold;
    font-size: 12px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #006068;
  }
}
.a-j-about {
  margin: auto;
  width: 375px;
  height: 755px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Section\ -\ Block\ 2_\ The\ First\ Piece.png");
}
.a-j-about-container {
  width: 375px;
  padding: 48px 16px 0px;
  margin: auto;
}
.a-j-about-title {
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-style: Bold;
  font-size: 36px;
  leading-trim: NONE;
  line-height: 44px;
  letter-spacing: -0.96px;
  color: #023e8a;
  padding-top: 12px;
}
.a-j-about-text {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
  padding-top: 12px;
}

@media screen and (min-width: 1204px) {
  .a-j-about {
    width: 1440px;
    height: 668px;
    background-image: url("/img/Section\ -\ Block\ 2_\ The\ First\ Piece\ \(1\).png");
  }
  .a-j-about-container {
    width: 1440px;
    padding: 191px 199px 0 707px;
  }
  .a-j-about-title {
    font-family: Plus Jakarta Sans;
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    leading-trim: NONE;
    line-height: 56px;
    letter-spacing: -0.96px;

    padding-top: 24px;
  }
  .a-j-about-text {
    padding-top: 24px;
  }
}
.a-j-why {
  margin: auto;
  width: 375px;
  height: 1434px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Section\ -\ Block\ 3\ —\ Your\ Puzzle\,\ Your\ Pace.png");
}

.a-j-why-container {
  width: 375px;
  margin: auto;
  padding: 48px 16px;
}
.a-j-why-list {
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.a-j-why-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: #023e8a;
  width: 280px;
  height: 282px;
  border-radius: 24px;
  padding: 24px;
  color: #f6fafa;
}
.a-j-why-img {
  width: 24px;
}
.a-j-why-text-bold {
  font-family: Plus Jakarta Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 32px;
  leading-trim: NONE;
  line-height: 40px;
  letter-spacing: 0px;
  vertical-align: middle;
}
.a-j-why-text {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
}

@media screen and (min-width: 1204px) {
  .a-j-why {
    width: auto;
    height: 666px;
    background-image: url("/img/Section\ -\ Block\ 3\ —\ Your\ Puzzle\,\ Your\ Pace\ \(1\).png");
  }
  .a-j-why-container {
    width: 1440px;
    padding: 120px 142px;
  }
  .a-j-why-list {
    padding-top: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
  }
  .a-j-why-item {
    width: 280px;
    height: 282px;
    gap: 16px;
    border-radius: 24px;
    padding: 24px;
  }
}

.a-j-uniqueness {
  margin: auto;
  width: 375px;
  height: 859px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Block\ 4.png");
}
.a-j-uniqueness-container {
  margin: auto;
  width: 375px;
  padding: 406px 28px 0;
  color: #f6fafa;
}

.a-j-uniqueness-text {
  font-family: Geist Mono;
  font-weight: 700;
  font-style: Bold;
  font-size: 12px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 1px;
  vertical-align: middle;
  text-transform: uppercase;
  padding: 36px 0 0 64px;
}
.a-j-about-texts {
  padding-top: 19px;
}
@media screen and (min-width: 1204px) {
  .a-j-uniqueness {
    width: 1440px;
    height: 808px;
    background-image: url("/img/Block\ 4\ \(1\).png");
  }
  .a-j-uniqueness-container {
    margin: auto;
    width: 1440px;
    padding: 176px 192px 0 800px;
  }
  .a-j-uniqueness-text {
    padding: 48px 0 0 64px;
  }
  .a-j-about-texts {
    padding-top: 31px;
  }
}

.a-j-characters {
  margin: auto;
  width: 375px;
  height: 712px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Main\ Container.png");
}
.a-j-characters-container {
  padding: 156px 16px;
  margin: auto;
  width: 375px;
}

.a-j-characters-text-bold {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #e8fefe;
  padding: 32px 0;
}

.a-j-characters-text {
  font-family: Manrope;
  font-weight: 700;
  font-style: SemiBold;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
  color: #023e8a;
  text-decoration: none;
  background: #e76f51;
  width: 343px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
}

@media screen and (min-width: 1204px) {
  .a-j-characters {
    width: 1440px;
    height: 808px;
    background-image: url("/img/Main\ Container\ \(1\).png");
  }
  .a-j-characters-container {
    padding: 268px 433px 0;
    margin: auto;
    width: 1440px;
  }

  .a-j-characters-text {
    content: none;
    width: 288px;
    height: 56px;
    font-family: Manrope;
    font-weight: 700;
    font-style: SemiBold;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    margin: auto;
  }
}

.a-j-faq {
  margin: auto;
  width: 375px;
  background: linear-gradient(
    135deg,
    rgba(0, 180, 216, 0.1) 0%,
    rgba(231, 111, 81, 0.1) 100%
  );
}
.a-j-faq-container {
  padding: 48px 16px;
  width: 375px;
  margin: auto;
}
.a-j-faq-list {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.a-j-faq-item {
  background: #023e8a;
  border-radius: 16px;
  padding: 24px;
  color: #e8fefe;
}

.a-j-faq-question {
  font-family: Manrope;
  font-weight: 700;
  font-style: SemiBold;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 28px;
  letter-spacing: 0px;
  vertical-align: middle;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.a-j-faq-answer {
  font-family: Manrope;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
}
.a-j-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}

.a-j-toggle-button img {
  width: 12px;
  transition: transform 0.3s ease;
}
.a-j-faq-answer {
  max-height: 0;
  overflow: hidden;
  transition:
    max-height 0.4s ease,
    opacity 0.4s ease;
  opacity: 0;
}

.a-j-faq-answer.open {
  max-height: 400px;
  opacity: 1;
  padding-top: 16px;
}

.a-j-toggle-button img.rotated {
  transform: rotate(180deg);
}
@media screen and (min-width: 1204px) {
  .a-j-faq {
    width: auto;
    background: linear-gradient(
      135deg,
      rgba(0, 180, 216, 0.1) 0%,
      rgba(231, 111, 81, 0.1) 100%
    );
  }
  .a-j-faq-container {
    padding: 120px 402px;
    width: 1440px;
    margin: auto;
  }
  .a-j-faq-list {
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
.a-j-policy-terms-container {
  padding: 112px 16px 32px;
  width: 375px;
  margin: auto;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 26px;
  letter-spacing: 0px;
}

.a-j-policy-terms-container h1 {
  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  leading-trim: NONE;
  line-height: 48px;
  letter-spacing: 0px;
}
.a-j-policy-terms-container h2 {
  margin: 12px 0 8px;
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 22px;
  leading-trim: NONE;
  line-height: 28px;
  letter-spacing: 0px;
}
.a-j-policy-terms-container ul {
  list-style-type: disc;
  margin-left: 20px;
}

.a-j-policy-terms-container a {
  color: #1a73e8;
}
@media screen and (min-width: 1204px) {
  .a-j-policy-terms-container {
    padding: 112px 80px 32px;
    width: 1440px;
  }
}

.a-j-footer-container {
  width: 375px;
  padding: 48px 0px 16px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  color: #94a3b8;
}
.a-j-footer-div-w {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}
.a-j-footer-img {
  height: 48px;
}
.a-j-footer-img-w {
  height: 24px;
}
.a-j-footer-div-q {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.a-j-footer-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.a-j-footer-text {
  text-decoration: none;
  color: inherit;
  font-family: Geist Mono;
  font-weight: 700;
  font-style: Bold;
  font-size: 12px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.a-j-footer-copyright {
  font-family: Geist Mono;
  font-weight: 700;
  font-style: Bold;
  font-size: 12px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@media screen and (min-width: 1204px) {
  .a-j-footer-container {
    width: 1440px;
    padding: 48px 80px 16px;

    gap: 32px;
  }

  .a-j-footer-div-w {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1078px;
    padding-bottom: 32px;
    border-bottom: 1px solid #f1f5f91a;
  }
  .a-j-footer-img {
    height: 48px;
  }
  .a-j-footer-img-w {
    height: 24px;
  }
  .a-j-footer-div-q {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 616px;
  }
  .a-j-footer-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
  }

  .a-j-footer-text {
    text-decoration: none;
    color: inherit;
    font-family: Geist Mono;
    font-weight: 700;
    font-style: Bold;
    font-size: 12px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .a-j-footer-copyright {
    font-family: Geist Mono;
    font-weight: 700;
    font-style: Bold;
    font-size: 12px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

.a-j-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 30px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(149, 49, 133, 1);
  box-shadow: 0px 14px 42px 0px rgba(8, 15, 52, 0.06);
  z-index: 1000;
  display: none;
}

.a-j-cookie-popup-text-two {
  color: rgba(87, 78, 68, 1);
}

.a-j-cookie-button-container {
  padding: 30px 0 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.a-j-cookie-button {
  border: none;
  background-color: transparent;
}

#accept-cookies {
}

.a-j-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1204px) {
  .a-j-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .a-j-cookie-popup-text-two {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 648px;
  }

  .a-j-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .a-j-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 32px;
    display: none;
  }
}
